/**
  |============================
  | Common
  |============================
*/
@import '../utils/mixins';

.wrapper {
  // phone screen(<480px)

  // min-width: 320px; // for test
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  // tablet (>768px)

  @include media-tablet-min(768px) {
    max-width: 768px;
    padding-left: 33px;
    padding-right: 33px;
  }

  // desktop (>1200px)

  @include media-desktop-max(1280px) {
    min-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
