/**
  |============================
  | Section
  |============================
*/
@import '../utils/mixins';

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media-tablet-min(768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media-desktop-min(1280px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
