/**
  |============================
  | Mixins
  |============================
*/

@mixin media-tablet-max($media: 767.98px) {
  @media (max-width: $media) {
    @content;
  }
}

@mixin media-tablet-min($media: 768px) {
  @media (min-width: $media) {
    @content;
  }
}

@mixin media-desktop-min($media: 1280px) {
  @media (min-width: $media) {
    @content;
  }
}

// ronald mixin

@mixin media-desktop-max($media: 1279.98px) {
  @media (min-width: $media) {
    @content;
  }
}

/**
  |============================
  |  Example of use:
  |============================
*/

// @include media-tablet-max(1200px) {
//   .button {
//   color: potato;
//   }
//   }

$animations_duration: 0.2s;
$animations_timing_function: linear;

@mixin background-color_transition {
  transition: background-color $animations_duration $animations_timing_function;
}

@mixin text_color_transition {
  transition: color $animations_duration $animations_timing_function;
}

@mixin fill_color_transition {
  transition: fill $animations_duration $animations_timing_function;
}

@mixin border_color_transition {
  transition: border $animations_duration $animations_timing_function;
}

@mixin transform_transition {
  transition: transform $animations_duration $animations_timing_function;
}
