/**
  |============================
  | Variables
  |============================
*/

// Background-colors
// $main-white: #ffffff; // Example
// $main-black: #000000; // Example

// ???

// Font colors

// Button colors

// Icon colors

// Other colors

// Animations
$anim-slow: 500ms;
$anim-fast: 250ms;
$anim-func: cubic-bezier(0.4, 0, 0.2, 1);