/**
  |============================
  | Variables
  |============================
*/

// Background-colors
$main-white: #ffffff;
// $main-black: #000000; // Example
$backdrop-color: rgba(0, 0, 0, 0.5);

// ???

// Font colors
$black-color: #202025;
$main-black-color: #000917;
$grapefruit-color: #fd5103;
$gray-color: #5f6775;
$white-color: #fcfcfc;
$auxiliary-orange-color: #fe7031;
$light_gray_color: #bdbdbd;

// Button colors
$button-hover-color: #f5f5f5;

// Icon colors

// Other colors

// Animations
$anim-slow: 500ms;
$anim-fast: 250ms;
$anim-func: cubic-bezier(0.4, 0, 0.2, 1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
