<div class="backdrop2 is-hidden">
  <div class="modal-cocktails-group theme_background_color">
    <div class="modal-cocktails" id="modal-cocktails">
      <button
        class="modal-cocktails-close"
        aria-label="Кнопка для закриття меню"
      >
        <svg
          class="modal-cocktails-close-icon theme_fill_color"
          width="32px"
          height="32px"
        >
          <use href="./images/sprite.svg#icon-close-cross"></use>
        </svg>
      </button>
    </div>
    <button
      type="button"
      class="btn btn-secondary btn__add-to-fav modal-btn__add-to-fav2"
      id="modal-btn__add-to-fav2"
      aria-label="Add cocktail to favorite"
    >
      Add to favorite
    </button>
    <button
      type="button"
      class="btn btn-secondary btn__remove-fav modal-btn__remove-fav2"
      id="modal-btn__remove-fav2"
      aria-label="Remove from favorite"
    >
      Remove from favorite
    </button>
  </div>
</div>
