<div class="backdrop is-hidden">
  <div class="modal-ingredients-group theme_background_color">
    <div class="modal-ingredients" id="modal-ingredients">
      <button
        class="modal-ingredients-close"
        aria-label="Кнопка для закриття меню"
      >
        <svg
          class="modal-ingredients-close-icon theme_fill_color"
          width="32px"
          height="32px"
        >
          <use href="./images/sprite.svg#icon-close-cross"></use>
        </svg>
      </button>
    </div>
    <button
      type="button"
      class="btn btn-secondary btn__add-to-fav modal-btn__add-to-fav"
      id="modal-btn__add-to-fav"
      aria-label="Add cocktail to favorite"
    >
      Add to favorite
    </button>
    <button
      type="button"
      class="btn btn-secondary btn__remove-fav modal-btn__remove-fav"
      id="modal-btn__remove-fav"
      aria-label="Remove from favorite"
    >
      Remove from favorite
    </button>
  </div>
</div>
<button type="button" class="open-btn">Открывашка</button>
