//vars
$fg: #ff9800;
$bg: white;
$pi: 3.14;

//config
$menu-items: 4;
$open-distance: 105px;
$opening-angle: $pi * 2;

body {
  background: $bg;

  text-align: bottom;
}
a {
  color: inherit;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
h1 {
  font-size: 3em;
}
%goo {
  filter: url('#shadowed-goo');
  // debug
  //background:rgba(255,0,0,0.2);
}
%ball {
  background: $fg;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  position: absolute;
  top: 75px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}
.menu-open {
  display: none;
}
.menu-item {
  @extend %ball;
}
.hamburger {
  $width: 25px;
  $height: 3px;
  width: $width;
  height: $height;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  transition: transform 200ms;
}
$hamburger-spacing: 8px;
.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}
.menu-open:checked + .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}

.menu {
  @include media-desktop-min(1280px) {
    width: 650px;
    height: 150px;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 50px;
    margin-left: -80px;
    padding-top: 20px;
    padding-left: 80px;
    font-size: 20px;
    position: fixed;
    top: 66%;
    right: -30%;
    display: block;
  }
  @include media-tablet-max(1279.98px) {
    display: none;
  }
}

.menu-item {
  // position: relative;
  &:hover {
    background: red;
    color: $fg;
    fill: white;
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 180ms;
    }
  }
}

.menu-open-button {
  @extend %ball;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 90ms+ (100ms * $i);
      transform: translate3d(0, -110px * $i, 0); /* Изменили здесь */
    }
  }
}

.fa {
  font: 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  align-items: center;
  display: block;
  position: relative;
  top: 6px;
  right: -6px;
  transform: translate(0);
}

.custom-ui__icon {
  height: 60%;
  width: 80%;
  /* position: absolute; */
  top: 25px;
  right: 23px;
  display: block;
}

/**
  |============================
  | Mentors modal
  |============================
*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery a {
  margin: 10px;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

.custom-ui__img {
  margin-bottom: 20px;
}

.custom-ui__caption {
  text-align: center;
}

.custom-ui__captionName {
  text-align: center;
  font-weight: 900;
  color: #fd6b6b; /* bright red */
  margin-bottom: 5px;
  text-shadow: 1px 1px #ffc300; /* yellow shadow */
}

.custom-ui__captionDesc {
  text-align: center;
  color: #03a9f4; /* bright blue */
  font-weight: 500;
  margin-bottom: 5px;
  text-shadow: 1px 1px #9c27b0; /* purple shadow */
}

.custom-ui__captionFeature {
  text-align: center;
  color: #8bc34a; /* green */
  font-weight: 300;
  margin-bottom: 5px;
  text-shadow: 1px 1px #ff5722; /* orange shadow */
}
