<!--
  |============================
  | Add to Button
  |============================
-->
<button type="button" class="btn-primary btn">
  Add to
  <svg
    class="btn-primary__icon"
    viewBox="0 0 19 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="outer"
      d="M9.5 17L8.1225 15.7771C3.23 11.4507 0 8.59727 0 5.09537C0 2.24196 2.299 0 5.225 0C6.878 0 8.4645 0.750409 9.5 1.93624C10.5355 0.750409 12.122 0 13.775 0C16.701 0 19 2.24196 19 5.09537C19 8.59727 15.77 11.4507 10.8775 15.7864L9.5 17Z"
      fill="#FD5103"
    />
    <path
      class="inner"
      d="M9.50005 15.2106L8.38493 14.2452C4.42433 10.8296 1.80957 8.57687 1.80957 5.81221C1.80957 3.55952 3.67067 1.78955 6.03933 1.78955C7.37748 1.78955 8.66178 2.38198 9.50005 3.31816C10.3383 2.38198 11.6226 1.78955 12.9608 1.78955C15.3294 1.78955 17.1905 3.55952 17.1905 5.81221C17.1905 8.57687 14.5758 10.8296 10.6152 14.2525L9.50005 15.2106Z"
      fill="#FD5103"
    />
  </svg>
</button>
<!--
    |============================
    | Remove Button
    |============================
  -->
<button type="button" class="btn btn-primary">
  Remove
  <svg
    class="btn-primary__icon"
    viewBox="0 0 19 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="outer"
      d="M9.5 17L8.1225 15.7771C3.23 11.4507 0 8.59727 0 5.09537C0 2.24196 2.299 0 5.225 0C6.878 0 8.4645 0.750409 9.5 1.93624C10.5355 0.750409 12.122 0 13.775 0C16.701 0 19 2.24196 19 5.09537C19 8.59727 15.77 11.4507 10.8775 15.7864L9.5 17Z"
      fill="#FD5103"
    />
    <path
      class="inner-remove"
      d="M9.50005 15.2106L8.38493 14.2452C4.42433 10.8296 1.80957 8.57687 1.80957 5.81221C1.80957 3.55952 3.67067 1.78955 6.03933 1.78955C7.37748 1.78955 8.66178 2.38198 9.50005 3.31816C10.3383 2.38198 11.6226 1.78955 12.9608 1.78955C15.3294 1.78955 17.1905 3.55952 17.1905 5.81221C17.1905 8.57687 14.5758 10.8296 10.6152 14.2525L9.50005 15.2106Z"
      fill="#FD5103"
    />
  </svg>
</button>
<!--
  |============================
  | Learn more Button
  |============================
-->
<button type="button" class="btn btn-secondary">Learn more</button>
<!--
  |============================
  | Add to favorite Button
  |============================
-->
<button type="button" class="btn btn-secondary btn__add-to-fav">
  Add to favorite
</button>

<!--
  |============================
  | Arrow Buttons
  |============================
-->
<!-- Right -->
<button type="button" class="arrow-btn">
  <svg
    class="arrow-icon"
    viewBox="0 0 8 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.17168 7.00023L0.22168 2.05023L1.63568 0.63623L7.99968 7.00023L1.63568 13.3642L0.22168 11.9502L5.17168 7.00023Z"
    />
  </svg>
</button>
<!-- Left -->
<button type="button" class="arrow-btn">
  <svg
    class="arrow-icon arrow-icon__left"
    viewBox="0 0 8 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.17168 7.00023L0.22168 2.05023L1.63568 0.63623L7.99968 7.00023L1.63568 13.3642L0.22168 11.9502L5.17168 7.00023Z"
    />
  </svg>
</button>
<!-- disabled -->
<!-- right -->
<button type="button" class="arrow-btn">
  <svg
    class="arrow-icon__disabled"
    viewBox="0 0 8 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.17168 7.00023L0.22168 2.05023L1.63568 0.63623L7.99968 7.00023L1.63568 13.3642L0.22168 11.9502L5.17168 7.00023Z"
    />
  </svg>
</button>
<!-- left -->
<button type="button" class="arrow-btn">
  <svg
    class="arrow-icon__disabled arrow-icon__left"
    viewBox="0 0 8 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.17168 7.00023L0.22168 2.05023L1.63568 0.63623L7.99968 7.00023L1.63568 13.3642L0.22168 11.9502L5.17168 7.00023Z"
    />
  </svg>
</button>
<!--
  |============================
  | Cocktail specs and ingredients in modal
  |============================
-->
<ul class="specs-list">
  <li class="specs-list__item">
    <span class="specs-list__marker">&#10038;</span>Ice
  </li>
  <li class="specs-list__item">
    <span class="specs-list__marker">&#10038;</span>1 ounce gin
  </li>
  <li class="specs-list__item">
    <span class="specs-list__marker">&#10038;</span>1 ounce Campari
  </li>
  <li class="specs-list__item">
    <span class="specs-list__marker">&#10038;</span>1 ounce sweet vermouth
  </li>
  <li class="specs-list__item">
    <span class="specs-list__marker">&#10038;</span>Garnish: orange peel
  </li>
</ul>
<!--
  |============================
  | Custom select
  |============================
-->
<div class="container">
  <div class="select-box">
    <div class="options-container">
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="a" />
        <label for="a">A</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="b" />
        <label for="b">B</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="c" />
        <label for="c">C</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="d" />
        <label for="d">D</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="e" />
        <label for="e">E</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="f" />
        <label for="f">F</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="g" />
        <label for="g">G</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="h" />
        <label for="h">H</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="i" />
        <label for="i">I</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="j" />
        <label for="j">j</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="k" />
        <label for="k">K</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="l" />
        <label for="l">L</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="m" />
        <label for="m">M</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="n" />
        <label for="n">N</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="o" />
        <label for="o">O</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="p" />
        <label for="p">P</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="q" />
        <label for="q">Q</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="r" />
        <label for="r">R</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="s" />
        <label for="s">S</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="t" />
        <label for="t">T</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="u" />
        <label for="u">U</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="v" />
        <label for="v">V</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="w" />
        <label for="w">W</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="x" />
        <label for="x">X</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="y" />
        <label for="y">Y</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="z" />
        <label for="z">Z</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="1" />
        <label for="1">1</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="2" />
        <label for="2">2</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="3" />
        <label for="3">3</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="4" />
        <label for="4">4</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="5" />
        <label for="5">5</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="6" />
        <label for="6">6</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="7" />
        <label for="7">7</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="8" />
        <label for="8">8</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="9" />
        <label for="9">9</label>
      </div>
      <div class="option">
        <input class="radio" type="radio" name="symbol" id="0" />
        <label for="0">0</label>
      </div>
    </div>

    <div class="selected">A</div>
  </div>
</div>
<!--
  |============================
  | Custom Theme checkbox
  |============================
-->
<div class="checkbox">
  <input type="checkbox" id="cb-button" class="tgl tgl-flat" />
  <label for="cb-button" class="tgl-btn"></label>
</div>
