<section class="searched_coctail section">
  <div class="search__wrapper">
    <ul class="searched__list"></ul>
    <div class="paginathion__wrapper">
      <button type="button" class="arrow-btn previous">
        <svg
          class="arrow-icon arrow-icon__left"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.17168 7.00023L0.22168 2.05023L1.63568 0.63623L7.99968 7.00023L1.63568 13.3642L0.22168 11.9502L5.17168 7.00023Z"
          />
        </svg>
      </button>
      <ul class="pagination__list"></ul>
      <button type="button" class="arrow-btn next">
        <svg
          class="arrow-icon__disabled"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.17168 7.00023L0.22168 2.05023L1.63568 0.63623L7.99968 7.00023L1.63568 13.3642L0.22168 11.9502L5.17168 7.00023Z"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
