<img
  class="userpic"
  srcset="
    /src/images/results-section/mobile/mobile_not-found-280.png   280w,
    /src/images/results-section/mobile/mobile_not-found-560.png   560w,
    /src/images/results-section/tablet/tablet_not-found-345.png   345w,
    /src/images/results-section/tablet/tablet_not-found-690.png   690w,
    /src/images/results-section/desktop/desktop_not-found-345.png 345w,
    /src/images/results-section/desktop/desktop_not-found-690.png 690w
  "
  sizes="(min-width: 1280px) 345px, (min-width: 768px) 345px, (min-width: 320px) 280px"
  src="/src/images/results-section/mobile/mobile_not-found-280.png"
  alt="Member photo 1"
  width="450"
  height="460"
  loading="lazy"
/>
