<div id="loading">Loading...</div>

<section class="random_coctail section">
  <div id="content" hidden>
    <h2 class="random-cocktail__title">Cocktails</h2>
    <div class="wrapper" id="rnd-cocktail">
      <ul class="random-cocktail__list"></ul>
      <div class="pagination__wrapper">
        <button type="button" class="arrow-btn-pagination previous">
          <svg class="arrow-icon-left">
            <use href="./images/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <ul class="pagination__list"></ul>
        <button type="button" class="arrow-btn-pagination next">
          <svg class="arrow-icon-right">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
