<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite cocktails</title>
    <link rel="icon" type="image/x-icon" href="/src/images/favicon.ico" />
    <link rel="stylesheet" href="/src/index.scss" />

    <script src="/src/js/fav_cocktails.js" type="module"></script>
  </head>
  <body>
    <main>
      <include src="./partials/header.html"></include>
      <section class="fav-cocktail section">
        <h1 class="random-cocktail__title theme_text_color">
          Favorite cocktails
        </h1>
        <p class="fav-cocktails__default-text theme_text_color" hidden>
          You haven't added any favorite cocktails yet
        </p>
        <div id="content" hidden>
          <div class="wrapper" id="rnd-cocktail">
            <ul class="random-cocktail__list"></ul>
          </div>
        </div>
        <div class="fav-content__wrapper"></div>
      </section>
      <include src="./partials/footer.html"></include>
      <!-- Modal -->
      <div class="backdrop2 is-hidden">
        <div class="modal-cocktails-group theme_background_color">
          <div class="modal-cocktails" id="modal-cocktails">
            <button
              class="modal-cocktails-close"
              aria-label="Кнопка для закриття меню"
            >
              <svg
                class="modal-cocktails-close-icon theme_fill_color"
                width="32px"
                height="32px"
              >
                <use href="../images/sprite.svg#icon-close-cross"></use>
              </svg>
            </button>
          </div>
          <button
            type="button"
            class="btn btn-secondary btn__add-to-fav modal-btn__add-to-fav2"
            id="modal-btn__add-to-fav2"
            aria-label="Add cocktail to favorite"
          >
            Add to favorite
          </button>
          <button
            type="button"
            class="btn btn-secondary btn__remove-fav modal-btn__remove-fav2"
            id="modal-btn__remove-fav2"
            aria-label="Remove from favorite"
          >
            Remove from favorite
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
