<footer class="footer">
  <div class="wrapper footer-main">
    <div class="socials">
      <p class="text">Follow us on</p>
      <ul class="svg-items">
        <li class="svg-item">
          <a
            href="https://www.instagram.com/"
            class="link"
            aria-label="instagram link"
          >
            <svg class="icon img" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="svg-item">
          <a href="https://twitter.com/" class="link" aria-label="Twitter link">
            <svg class="icon img" width="24" height="24">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="svg-item">
          <a
            href="https://www.tiktok.com/"
            class="link"
            aria-label="Tiktok link"
          >
            <svg class="icon img" width="24" height="24">
              <use href="./images/sprite.svg#icon-tiktok"></use>
            </svg>
          </a>
        </li>
        <li class="svg-item">
          <a
            href="https://www.youtube.com/"
            class="link"
            aria-label="Youtube link"
          >
            <svg class="icon img" width="24" height="24">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="platforms">
      <a href="https://www.apple.com/store" aria-label="Apple store link"
        ><img
          class="platforms-apple"
          src="./images/footer/appstore.png"
          width="130"
          height="40"
      /></a>
      <a href="https://play.google.com/store/" aria-label="Google Play store"
        ><img
          class="platforms-google"
          src="./images/footer/googleplay.png"
          width="130"
          height="40"
      /></a>
    </div>
  </div>
</footer>
