<footer class="footer">
  <div class="footer-feature__hide"></div>
  <div class="wrapper footer-main">
    <div class="description">
      <p class="description-text">
        Mix, sip, enjoy! Browse our curated selection of cocktail recipes and
        discover your new favorite drink. Whether you prefer sweet, sour, or
        boozy, we've got you covered.
      </p>
      <p class="copyright">© Copyright - All Rights Reserved.</p>
    </div>
    <div class="links">
      <div class="socials">
        <ul class="svg-items">
          <li class="svg-item">
            <a
              href="https://www.instagram.com/"
              class="link"
              aria-label="instagram link"
            >
              <svg class="icon" width="24" height="24">
                <use href="/src/images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="svg-item">
            <a
              href="https://twitter.com/"
              class="link"
              aria-label="twitter link"
            >
              <svg class="icon" width="24" height="24">
                <use href="/src/images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="svg-item">
            <a
              href="https://www.tiktok.com/"
              class="link"
              aria-label="tiktok link"
            >
              <svg class="icon" width="24" height="24">
                <use href="/src/images/sprite.svg#icon-tiktok"></use>
              </svg>
            </a>
          </li>
          <li class="svg-item">
            <a
              href="https://www.youtube.com/"
              class="link"
              aria-label="youtube link"
            >
              <svg class="icon" width="24" height="24">
                <use href="/src/images/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="platforms">
        <a href="https://www.apple.com/store" aria-label="Apple store link"
          ><img
            class="platforms-apple img"
            src="/src/images/footer/appstore.png"
            alt="Apple store"
        /></a>
        <a href="https://play.google.com/store/" aria-label="Google Play store"
          ><img
            class="platforms-google img"
            src="/src/images/footer/googleplay.png"
            alt="Google Play"
        /></a>
      </div>
    </div>
  </div>
</footer>
