<header class="head">
  <div class="container">
    <div class="navigation-wrapper">
      <nav class="navigation">
        <!------------------------------------- LOGO ---------------------------->
        <a class="header__logo-link" href="/src/index.html" aria-label="logo">
          <img src="/src/images/logo.svg" alt="logo" class="logo-img" />
        </a>

        <!------------------------------- navigation -------------------------------->
        <ul class="navigation__list">
          <li class="navigation__item">
            <a
              class="navigation__link theme_text_color"
              href="/src/index.html"
              aria-label="navigation"
              >Home</a
            >
          </li>
          <li class="navigation__item drop__item">
            <p class="favorite-text theme_text_color">Favorite</p>

            <div class="favorite__items">
              <div class="navigation-drop__item">
                <a
                  class="navigation-drop__link theme_text_color"
                  href="/src/partials/fav_cocktails.html"
                  aria-label="Favorite cocktails"
                  >Favorite cocktails</a
                >
              </div>
              <div class="navigation-drop__item">
                <a
                  class="navigation-drop__link theme_text_color"
                  href="/src/partials/fav_ingredients.html"
                  aria-label="Favorite ingredients"
                  >Favorite ingredients</a
                >
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <!-----------------------------header INPUT -------------------------------->
      <div class="header-right-wrapper">
        <form class="header-form" data-header-submit>
          <input
            type="search"
            placeholder="Search |"
            name="headerinput"
            class="header-input dark-theme-text"
            data-header-input
          />
          <button type="submit" class="search-button" aria-label="search">
            <svg
              class="input-search-icon"
              width="32"
              height="32"
              aria-label="Burger menu toggle"
            >
              <use href="/src/images/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </form>
        <!------------------------header  SWITCHER ------------------------->
        <div class="switcher-desktop">
          <include
            src="./partials/components/switcher_theme_button/switcher_theme_button.html"
            locals='{ "id": "header_switcher_theme_button" }'
          >
          </include>
        </div>

        <!------------------------- BURGER MENU BUTTON --------------------->
      </div>
      <button
        type="button"
        class="burger-menu-btn"
        aria-expanded="false"
        data-burger-menu-toggle
        aria-label="menu"
      >
        <svg
          class="burger-menu-btn-icon theme_fill_color"
          width="32"
          height="32"
          aria-label="Burger menu toggle"
        >
          <use
            class="burger-icon-menu"
            href="/src/images/sprite.svg#icon-burger-menu"
          ></use>
          <use
            class="burger-icon-cross"
            href="/src/images/sprite.svg#icon-close-cross"
          ></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu" data-burger-menu>
      <!----------------------------burger menu wrapper------------>
      <div class="mobile-menu-wrapper container">
        <a
          class="burger__logo-link"
          href="/src/index.html"
          aria-label="burger logo"
        >
          <img src="/src/images/logo.svg" alt="logo" class="logo-img" />
        </a>
        <!-----------------------------burger menu SWITCHER -------------------------->
        <div class="burger-wrapper">
          <div class="burger-switcher">
            <include
              src="./partials/components/switcher_theme_button/switcher_theme_button.html"
              locals='{ "id": "header_switcher_theme_button2" }'
            >
            </include>
          </div>

          <div>
            <!------------------------------------------burger menu INPUT -------------------------------->
            <div class="burger-input-wrapper">
              <form class="burger-form" data-burger-submit>
                <input
                  type="search"
                  class="burger-input"
                  name="burgerinput"
                  placeholder="Search |"
                  data-burger-input
                />
                <button
                  type="submit"
                  class="burger-search-button"
                  aria-label="Burger menu search"
                >
                  <svg
                    class="input-search-icon"
                    width="24"
                    height="24"
                    aria-label="Burger menu search"
                  >
                    <use href="/src/images/sprite.svg#icon-search"></use>
                  </svg>
                </button>
              </form>
            </div>
            <!----------------------------- MOBILE NAV MENU ------------------------>
            <ul class="mobile-menu-navigation__list">
              <li class="mobile-menu-navigation__item">
                <a
                  class="mobile-navigation__link theme_text_color"
                  href="/src/index.html"
                  aria-label="Home"
                  >Home
                </a>
              </li>
              <li class="mobile-menu-navigation__item" data-burger-menu-arrow>
                <div class="burger-menu-favorite-item"> 
                <p class="burger-favorite-text theme_text_color">Favorite</p>
                <button
                  type="button"
                  class="burger-menu-arrow"
                  aria-label="Burger menu arrow"
                >
                  <svg
                    class="burger-menu-arrow-icon burger-menu-btn-icon"
                    width="24"
                    height="24"
                    aria-label="Burger menu arrow"
                  >
                    <use href="/src/images/sprite.svg#icon-right-arrow"></use>
                  </svg>
                </button>
                </div>
                <div class="burger-favorite__items" data-burger-menu-favorite>
                  <div class="burger-drop__item">
                    <a
                      class="burger-drop__link theme_text_color"
                      href="/src/partials/fav_cocktails.html"
                      aria-label="Favorite cocktails"
                      >Favorite cocktails</a
                    >
                  </div>
                  <div class="burger-drop__item">
                    <a
                      class="burger-drop__link theme_text_color"
                      href="/src/partials/fav_ingredients.html"
                      aria-label="Favorite ingredients"
                      >Favorite ingredients</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
