<section class="searched_coctail section">
  <h2 style="display: none">Результаты поиска</h2>
  <div class="search__wrapper">
    <ul class="searched__list"></ul>
    <div class="paginathion__wrapper">
      <button type="button" class="arrow-btn-pagination previous">
        <svg class="arrow-icon-left">
          <use href="./images/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <ul class="pagination__list"></ul>
      <button type="button" class="arrow-btn-pagination next">
        <svg class="arrow-icon-right">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
