@import '../utils/variables';
@import '../utils/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700;900&display=swap');

.searched__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
  align-items: center;

  @include media-tablet-min(768px) {
    flex-direction: row;
    gap: 32px;
  }
}

.searched-cocktail__uppertext {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  line-height: calc(42 / 22);

  text-align: center;
  margin-bottom: 60px;

  @include media-tablet-min(768px) {
    font-size: 32px;
    line-height: calc(42 / 32);
    font-family: 'Roboto';
    font-weight: 700;
  }

  @include media-desktop-min(1280px) {
    font-size: 48px;
    line-height: calc(72 / 48);
    font-family: inherit;
    font-weight: 700;
  }
}

.searched-cocktail__item {
  border: 1px solid #fd5103;
  border-radius: 4px 4px 0px 0px;
  max-width: 320px;
  border-radius: 4px;
  transition: transform $anim-slow $anim-func;
  &:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 4px rgba(95, 103, 117, 0.25);
  }

  @include media-tablet-min(768px) {
    max-width: 335px;
    margin-bottom: 0px;
  }

  @include media-desktop-min(1280px) {
    max-width: 395px;
  }
}

.searched-cocktail__image {
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 48px;
  width: 100%;
  height: 100%;
}

.searched-cocktail__btn {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 24px;
}

.paginathion__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.pagination__list {
  display: flex;
  list-style-type: none;
}

.pagination__item {
  width: 32px;
  height: 32px;
  background: #fdfdfd;
  border: 1px solid #eaebea;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  color: #fe7031;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
}

.pagination__item--active {
  color: #fdfdfd;
  background: #fe7031;
}
