/**
    |============================
    |  Random cocktails
    |============================
  */
@import '../utils/mixins';
@import '../utils/variables';

#loading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  margin-top: 60px;
}

.random-cocktail__title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  line-height: calc(42 / 22);

  text-align: center;
  margin-bottom: 60px;

  @include media-tablet-min(768px) {
    font-size: 32px;
    line-height: calc(42 / 32);
    font-family: 'Roboto';
    font-weight: 700;
  }

  @include media-desktop-min(1280px) {
    font-size: 48px;
    line-height: calc(72 / 48);
    font-family: inherit;
    font-weight: 700;
  }
}

.random-cocktail__item {
  border: 1px solid #fd5103;
  border-radius: 4px 4px 0px 0px;
  max-width: 320px;
  border-radius: 4px;
  transition: transform $anim-slow $anim-func, box-shadow $anim-slow $anim-func;
  &:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 4px rgba(95, 103, 117, 0.25);
  }
  // &:not(:last-child) {
  //   // margin-bottom: 20px;
  // }

  @include media-tablet-min(768px) {
    max-width: 335px;
    margin-bottom: 0px;
  }

  @include media-desktop-min(1280px) {
    max-width: 395px;
  }
}

.random-cocktail__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
  align-items: center;

  @include media-tablet-min(768px) {
    flex-direction: row;
    gap: 32px;
  }

  // @include media-desktop-min(1280px) {
  // }
}

.random-cocktail__uppertext {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);

  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;

  @include media-tablet-min(768px) {
    font-size: 28px;
    line-height: calc(33 / 28);
    margin-bottom: 23px;
  }

  @include media-desktop-min(1280px) {
    font-size: 32px;
    line-height: calc(38 / 32);
  }
}

.random-cocktail__image {
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 48px;
  width: 100%;
  height: 100%;
}

.random-cocktail__btn {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 24px;
}
