/**
  |============================
  | Header 
  |============================
*/

@import '../utils/mixins';
@import '../utils/variables';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  //   height: 40px;
}

.navigation-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 20px;

  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__logo-link {
  font-size: 22px;
  line-height: 1.09;
  letter-spacing: 0.02em;
  padding-left: 20px;
  //   display: block;

  @include media-tablet-min {
    font-size: 28px;
    line-height: 0.86;

    letter-spacing: 0.02em;
  }
  margin-right: 50px;
}

.logo-img {
  width: 155px;
  &:hover,
  &:focus {
    margin: 0 0.5rem;
    animation: heartBeat;
    animation-duration: 2s;
  }
}

.navigation__list {
  display: none;

  @include media-tablet-min {
    display: none;
  }

  @include media-desktop-min(1280px) {
    position: relative;
    display: flex;
    gap: 60px;
    padding-top: 15px;
  }
}

.navigation__item {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  cursor: default;

  // transition: color 250ms $timing-function;

  :hover,
  :focus {
    display: inline-block;
    margin: 0 0.5rem;
    animation: heartBeat;
    animation-duration: 2s;
    color: $grapefruit-color;
    transition: color 250ms $timing-function;
  }
}

.favorite__items {
  position: absolute;

  top: 40px;
  left: 130px;
  min-width: 250px;
  border: 1px solid $grapefruit-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: none;

  // opacity: 0;
  // z-index: 8;
  :hover,
  :focus {
    display: block;
    // opacity: 1;
    // transition: opacity 2000ms $timing-function;
  }
}

@keyframes animateTransform {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.drop__item:hover .favorite__items {
  display: block;
}

.drop__item:focus .favorite__items {
  display: block;
}

.navigation-drop__item {
  :hover,
  :focus {
    background-color: $grapefruit-color;
    color: $white-color;
    transition: color 250ms $timing-function;
    transition: background-color 300ms $timing-function;
  }
}
.navigation__link {
  color: $black-color;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.navigation-drop__link {
  padding: 12px;
  display: block;
}

.header-right-wrapper {
  display: flex;

  @include media-tablet-min(768) {
    display: flex;
    align-items: center;
  }

  @include media-desktop-min(1280) {
    display: flex;
    align-items: center;
  }

  //   justify-content: space-between;
}
.switcher_theme_button {
  @include media-desktop-min(1280) {
    display: block;
    margin-right: 16px;
  }
}
.header-form {
  position: relative;
  margin-bottom: 40px;

  @include media-tablet-min(768px) {
    margin-bottom: 0px;
    margin-right: 80px;
  }

  @include media-desktop-min(1280px) {
    margin-right: 171px;
  }
}

.search-button {
  display: none;

  @include media-tablet-min(768px) {
    position: absolute;
    display: block;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-right: 1px solid $grapefruit-color;
    border-left: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
  }
}

.input-search-icon {
  // display: block;
  fill: $grapefruit-color;
}

.header-input {
  display: none;
  background-color: transparent;

  @include media-tablet-min(768px) {
    width: 280px;
    height: 40px;
    display: block;
    outline: none;
    border: 1px solid $grapefruit-color;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.71;
    letter-spacing: 0.02em;
    padding: 5px 5px 5px 48px;

    // margin-right: 100px;
  }

  @include media-desktop-min(1280px) {
    width: 290px;
  }
}

.header-switcher {
  display: none;

  @include media-desktop-min(1280px) {
    display: flex;
    gap: 12px;
    margin-left: 150px;
  }
}

.header-switcher-light {
  color: $grapefruit-color;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  padding-top: 3px;
}

.header-switcher-dark {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  padding-top: 3px;
}

// ----------------------------------------------------------------burger-menu-btn
.burger-menu-btn {
  position: absolute;
  z-index: 9;
  right: 20px;
  top: 30px;

  display: block;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;

  @include media-tablet-min(768px) {
    margin-left: 40px;
    top: 24px;
  }

  @include media-desktop-min(1280px) {
    display: none;
  }
}

.burger-menu-btn .burger-icon-cross {
  display: none;
}

.burger-menu-btn.is-open .burger-icon-cross {
  display: block;
}

.burger-menu-btn.is-open .burger-icon-menu {
  display: none;
}

.mobile-menu {
  position: absolute;
  z-index: 8;

  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  display: none;
}

.mobile-menu.is-open {
  display: block;

  @include media-desktop-min(1280px) {
    display: none;
  }
}

.mobile-menu-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  // width: 100vh;
  // height: 100vh;
}

.burger-switcher {
  margin-top: 35px;
  margin-bottom: 40px;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  font-family: 'Poppins', sans-serif;

  align-items: center;
  margin-right: 16px;

  @include media-tablet-min {
    font-size: 18px;
    line-height: 0.75;
    gap: 12px;
  }
}

.burger-switcher-light {
  color: $grapefruit-color;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 5px;
}

.switcher-button {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  outline: 1px solid $grapefruit-color;
}

.switcher-dot {
  background-color: $grapefruit-color;
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  left: 2px;
  transform: translateY(-50%);
}

.switcher-burger-dot {
  background-color: $grapefruit-color;
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  left: 2px;
  transform: translateY(-50%);
}

.switcher-dot-left {
  left: 22px;
}

.burger-switcher-dark {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 5px;
}

.burger-input-wrapper {
  position: relative;
}

.burger-input {
  background-color: transparent;
  position: relative;
  width: 280px;
  height: 40px;
  display: block;
  outline: none;
  border: 1px solid $grapefruit-color;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.71;
  letter-spacing: 0.02em;
  padding: 5px 5px 5px 48px;

  @include media-tablet-min(768px) {
    display: none;
  }
}

.burger-search-button {
  position: absolute;
  display: block;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-right: 1px solid $grapefruit-color;
  border-left: none;
  border-top: none;
  border-bottom: none;

  @include media-tablet-min(768px) {
    display: none;
  }
}

.mobile-menu-navigation__list {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  margin-bottom: 40px;

  @include media-tablet-min(768px) {
  }
}

.mobile-menu-navigation__item {
  margin-top: 32px;
}

.burger-menu-arrow {
  border: none;
  background-color: transparent;
  transform: rotate(90deg);
}

.burger-favorite__items {
  width: 200px;
  margin-top: 20px;
  margin-left: 70px;
  border: 1px solid $grapefruit-color;
  border-radius: 5px;

  flex-direction: column;
  display: none;
}

.burger-favorite__items-display {
  display: flex;
  display: block;
}

.burger-drop__item {
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;

  :hover,
  :focus {
    background-color: $grapefruit-color;
    color: $white-color;
  }
}

.burger__logo-link {
  display: none;

  @include media-tablet-min(768px) {
    margin-top: 15px;
    display: block;
    padding-left: 20px;
  }
}

.burger-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include media-tablet-min(768px) {
    margin-left: 90px;
  }
}

.unscroll-body {
  overflow: hidden;
}

.burger-menu-favorite-item {
  display: flex;
}
