@import '../utils/mixins';
@import '../utils/variables';

.backdrop2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity $anim-fast $timing-function;

  &.is-hidden {
    opacity: 0;
  pointer-events: none;
}
}


.modal-cocktails-group {
  overflow-y: scroll;
  height: 956px;
  width: 320px;
  position: relative;
  background-color: #ffffff;
  padding: 40px 20px;
  @include media-tablet-min(768px) {
    width: 822px;
    height: 598px;
    padding: 28px;
    
  }
  &::-webkit-scrollbar {
    width: 1px;
    height: 4px;
    background-color: #ffffff;
  }
}
.modal__title {
  font-family: 'Roboto';
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.18;
  color: #202025;
  margin-bottom: 20px;
  transition: color $anim-fast $timing-function;
  @include media-tablet-min(768px) {
    margin-bottom: 28px;
    margin-left: calc(320px - 28px);
  }
  &:hover, &:focus{
    color: #fd5103;
  }
}
.modal__instructions {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 20px;
  color: #202025;
  @include media-tablet-min(768px) {
  margin-bottom: 24px;
  }
}
.modal__instructions-hold {
  @include media-tablet-min(768px) {
position: absolute;
top: 348px;
left: 28px;

  }
}
.modal__ingredients {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #202025;
  }

  .ingredients__list {
    @include media-tablet-min(768px) {
      height: 160px;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        display: none;
      }
    }
  }
.instruction {
  font-style: normal;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #5f6775;
  margin-bottom: 22px;
  @include media-tablet-min(768px) {
    margin-bottom: 32px;
    height: 84px;
    width: 615px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
.ingredient__item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #5f6775;
  transition: color $anim-fast $timing-function;
  &:hover, &:focus{
    color: #fd5103;
  }
}

.ingredient__item:hover .ingredientsBlack, .ingredient__item:focus .ingredientsBlack {
  color: #fd5103;
}

.modal__description {
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
color: #202025;
margin-bottom: 8px;
}

.modal__ingredients-hold {
  margin-bottom: 32px;
  @include media-tablet-min(768px) {
position: absolute;
top: 105px;
left: 320px;
  }
}

.modal__picture {
  margin-bottom: 22px;
  border-radius: 4px;
  
  
  @include media-tablet-min(768px) {
    width: 288px;
    height: 320px;
    transition: transform $anim-fast cubic-bezier(.17,.67,.83,.67), box-shadow $anim-fast cubic-bezier(.17,.67,.83,.67);
    position: absolute;
    top: 0px;
    left: 0px;
  }
    @include media-tablet-min(768px){
  &:hover, &:focus {
    transform: scale(1.05);
    transform-origin: left top;
    -webkit-box-shadow: 10px 11px 15px -5px rgba(0,9,23,1);
    -moz-box-shadow: 10px 11px 15px -5px rgba(0,9,23,1);
    box-shadow: 10px 11px 15px -5px rgba(0,9,23,1);
   
  }
}
}

.modal-cocktails-close {
  position: absolute;
  background-color: inherit;
  border: none;
  right: 0;
  top: 0;
  padding: 16px 16px;
  @include media-tablet-min(768px) {
    padding: 12px 12px;
  }
}
.modal-btn__add-to-fav2,
.modal-btn__remove-fav2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
letter-spacing: 0.02em;
color: #FCFCFC;
  margin-left: 0;
  // padding: 12px 24px;
  @include media-tablet-min(768px) {
    margin-bottom: 0px;
    position: absolute;
    bottom: 28px;
    right: 28px;
  }
}

.modal-cocktails-close-icon {
  transition: fill $anim-fast $timing-function;
  &:hover,
  &:focus {
    fill: #fd5103;
  }
}

.ingredientsBlack {
  color: #000917;
  transition: color $anim-fast $timing-function;

}
