@import '../utils/variables';
@import '../utils/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700;900&display=swap');

.pagination__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 320px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

  @include media-tablet-min(768px) {
    width: 700px;
  }

  @include media-desktop-min(1280px) {
    width: 880px;
  }
}

.pagination__list {
  display: flex;
}

.pagination__item {
  width: 32px;
  height: 32px;
  background: #fdfdfd;
  border: 1px solid #eaebea;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  color: #fe7031;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  @include media-tablet-min(768px) {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

.pagination__item--active {
  color: #fdfdfd;
  background: #fe7031;
}

.arrow-btn-pagination {
  position: relative;
  width: 32px;
  height: 32px;
  text-align: center;

  @include media-tablet-min(768px) {
    width: 60px;
    height: 40px;
    background: #fdfdfd;
    border: 1px solid #eaebea;
    border-radius: 4px;
  }
}

.arrow-icon-left,
.arrow-icon-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: #d7d7d7;

  @include media-tablet-min(768px) {
    width: 24px;
    height: 24px;
  }
}

.arrow-btn-pagination.previous {
  margin-right: 12px;

  @include media-tablet-min(768px) {
    margin-right: 108px;
  }

  @include media-desktop-min(1280px) {
    margin-right: 198px;
  }
}

.arrow-btn-pagination.next {
  margin-left: 12px;

  @include media-tablet-min(768px) {
    margin-left: 108px;
  }

  @include media-desktop-min(1280px) {
    margin-left: 198px;
  }
}

.arrow-btn-pagination.previous.active .arrow-icon-left,
.arrow-btn-pagination.next.active .arrow-icon-right {
  fill: #fe7031;
  width: 24px;
  height: 24px;
}
