.switcher-desktop {
display: none;

  @include media-tablet-min() {
    display: none;
   
  }
  @include media-desktop-min() {
    font-size: 18px;
      display: flex;
        gap: 8px;
        
        align-items: center;
        margin-right: 16px;
  }

  .switcher_theme_toggle {
    cursor: pointer;
    font-family: 'Poppins';
    line-height: calc(24 / 18);
  }

  .theme_switcher {
    border: 0.6px solid $grapefruit-color;
  }

  body[data-theme='dark'] {
    .theme_switcher {
      border: 1px solid $white-color;
    }
  }
}
