.empty-search__title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  line-height: calc(72 / 48);

  text-align: center;
  margin-bottom: 60px;
}

.userpic {
  margin-left: auto;
  margin-right: auto;
}
